@import './vars.scss';

:host {
	color: $text-color;
	.hero {
		padding: 20px 20px;
		height: 50vh;
		background-image: url(../assets/hero1.jpg);
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0;
		background-position-x: center;
		h1 {
			margin: 0;
		}
	}
    .projects-list {
      height: 100vh;
      display: flex;
      justify-content: center;
      padding-top: 15vh;
    }
}
