@import './vars.scss';

:host {
	color: $text-color;
	.hero {
		padding: 20px 20px;
		background-image: url(../assets/hero1.jpg);
		background-attachment: fixed;
		@media screen and (max-width: 600px) {
			background-size: contain;
			height: 35vh;
		}
		@media screen and (min-width: 600px) {
			background-size: cover;
			height: 80vh;
		}
		background-repeat: no-repeat;
		margin: 0;
		background-position-x: center;
		h1 {
			margin: 0;
		}
	}
    .projects-list {
      height: 100vh;
      display: flex;
      justify-content: center;
      padding-top: 15vh;
    }
}
